In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                   title  year
0     Anything for Money  1967
1      El factor Pilgrim  2000
2              Unleashed  1997
3  Mia mana katigoreitai  1972
4     Beer for My Horses  2008

In [4]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [85]:
t = titles

In [84]:
len(t)

235201

### What are the earliest two films listed in the titles dataframe?

In [53]:
search = t.sort_values(by ="year")
early = search.head(2)
early

                     title  year
223959          Miss Jerry  1894
44785   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [54]:
search = t[t.title == "Hamlet"].sort_values(by = "year")

In [55]:
len(search)

20

### How many movies are titled "North by Northwest"?

In [56]:
search = t[t.title == "North by Northwest"].sort_values(by = "year")
len(search)

1

### When was the first movie titled "Hamlet" made?

In [57]:
search = t[t.title == "Hamlet"].sort_values(by ="year")
movie = search.head(1)
movie.year

232212    1910
Name: year, dtype: int64

### List all of the "Treasure Island" movies from earliest to most recent.

In [58]:
search = t[t.title == "Treasure Island"].sort_values(by ="year")
search

                  title  year
214740  Treasure Island  1918
188165  Treasure Island  1920
29857   Treasure Island  1934
151985  Treasure Island  1950
85261   Treasure Island  1972
113567  Treasure Island  1973
16421   Treasure Island  1985
98779   Treasure Island  1999

### How many movies were made in the year 1950?

In [76]:
len(t[t.year == 1950])

1098

### How many movies were made in the year 1960?

In [ ]:
len(t[t.year == 1950])

### How many movies were made from 1950 through 1959?

In [79]:
search = t[(t.year >=1950) &(t.year <=1959)]
len(search)

12731

### In what years has a movie titled "Batman" been released?

In [82]:
t[t.title == "Batman"]

         title  year
167065  Batman  1989
197527  Batman  1943

### How many roles were there in the movie "Inception"?

In [129]:
c = cast
search = c[c.title == 'Inception']
len(search)

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [137]:
movie = c[c.title == "Inception"]
null = movie[movie.n.isnull()]
len(null)

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [136]:
movie = c[c.title == "Inception"]
null = movie[movie.n.notnull()]
len(null)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [138]:
movie = c[c.title == "North by Northwest"]
null = movie[movie.n.notnull()]
search = null.sort_values(by ="n")
search

,title,year,name,type,character,n
852778,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3412626,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1425357,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3069871,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
348858,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2966976,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1658452,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1247355,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2392801,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1771872,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
651542,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2244774,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
454612,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1475644,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
201564,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1354452,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [144]:
movie = c[c.title == "Sleuth"]
year = movie[movie.year == 1972]
null = year[year.n.notnull()]
search = null.sort_values(by ="n")
search

,title,year,name,type,character,n
1668290,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
319430,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
365759,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1433457,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2658497,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1417079,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [150]:
movie = c[c.title == "Sleuth"]
year = movie[movie.year == 2007]
search = year.sort_values(by = "n")
search

          title  year                 name     type          character    n
319431   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1265315  Sleuth  2007             Jude Law    actor               Milo  2.0
1766544  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
254138   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
365760   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2658496  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3272395  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [152]:
movie = c[c.title == "Hamlet"]
year = movie[movie.year == 1921]
search = year.sort_values(by = "n")
len(search)

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [153]:
movie = c[c.title == "Hamlet"]
year = movie[movie.year == 1996]
search = year.sort_values(by = "n")
len(search)

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [156]:
character = c[c.character == "Hamlet"]
len(character)

95

### How many people have played an "Ophelia"?

In [157]:
character = c[c.character == "Ophelia"]
len(character)

113

### How many people have played a role called "The Dude"?

In [158]:
character = c[c.character == "The Dude"]
len(character)

18

### How many people have played a role called "The Stranger"?

In [159]:
character = c[c.character == "The Stranger"]
len(character)

211

### How many roles has Sidney Poitier played throughout his career?

In [160]:
num = c[c.name == "Sidney Poitier"]
len(num)

43

### How many roles has Judi Dench played?

In [161]:
num = c[c.name == "Judi Dench"]
len(num)

54

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [164]:
actor = c[c.name == "Cary Grant"]
year = actor[actor.year //10 == 194]
n = year[year.n == 2]
len(n)
n

                   title  year        name   type    character    n
852775  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
852785    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [165]:
actor = c[c.name == "Cary Grant"]
year = actor[actor.year //10 == 194]
n = year[year.n == 1]
len(n)
n

,title,year,name,type,character,n
852740,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
852748,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
852752,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
852757,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
852761,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0
852772,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
852773,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
852774,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
852776,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
852777,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
852779,Notorious,1946,Cary Grant,actor,Devlin,1.0
852781,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
852782,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
852790,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
852796,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
852797,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
852800,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
852802,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
852804,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0

### How many roles were available for actors in the 1950s?

In [167]:
year = c[c.year //10 == 195]
type = year[year.type == "actor"]
len(type)

155721

### How many roles were avilable for actresses in the 1950s?

In [168]:
year = c[c.year //10 == 195]
type = year[year.type == "actress"]
len(type)

56642

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [170]:
year = c[c.year <=1980]
n= year[year.n == 1]
len(n)

64256

### How many non-leading roles were available through from the beginning of film history through 1980?

In [172]:
year = c[c.year <=1980]
n= year[year.n != 1]
len(n)

1100732

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [173]:
year = c[c.year <=1980]
n= year[year.n.isnull()]
len(n)

440404